{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Hi {{ user.username }}!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'password_change' %}">Change password</a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="list-group">
        {% for task in object_list %}
            <a href="{% url "task:update-task" task.pk %}" class="list-group-item list-group-item-action">
                {{ task.title }} | {{ task.get_status_display }} | {{ task.deadline }}
            </a>
        {% empty %}
            <a href="#" class="list-group-item list-group-item-action">No tasks yet.</a>
        {% endfor %}
    </div>
{% endblock %}
