{% extends 'base.html' %}


    <title>{% block title %}Change PAssword{% endblock %}</title>

{% block content %}

    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form method="post">
      {% csrf_token %}
        {{form}}

    <button type="submit">Change Now</button>
    </form>

{% endblock %}